.main-div{
    height: 80vh
}

.form{
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.nameField{
    width:60vh
}

.chat-button{
    margin-top:20px
}

.error{
    color: red;
}